// Colors
// Primary

$pink: #ff52bf;
$light-rink: #ff8fd8;
$light-red: #ff4242;

// Neutral

$very-dark-cyan: #00252e;
$very-pale-blue: #f5faff;
$aluminium: #bdc1c4;

// Font
// Sizes
$base-size: 1.3rem;

// Weights
$base-weight: 400;
$semi-bold-weight: 600;
$bold-weight: 700;

// Breakpoints
$layout-breakpoint-tablet: 960px;
$layout-breakpoint-desktop: 1440px;
